{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}


{% block content %}

<h1>Change Password</h1>
<br></br>

<div class='form-group'>
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Change Password</button>
<br/><br/>

<ol>
    <li><b>Password cannot be too similer to personal info.</b></li>
    <br/><br/>
    <li><b>Your password must contain atleast 8 characters.</b></li>
    <br/><br/>
    <li><b>Your password cannot be entirely numeric.</b></li>
    <br/><br/>
    <li><b>Your password has to be unique.</b></li>
</ol>

</div>



{% endblock %}