{% extends 'base.html' %}
{% block title %}ISO{% endblock %}


{% block content %}


<h1> User Profile </h1>
<br>
<div class="card mb-3" style="background-color: #D298DB;">
    <div class="row g-0">
      <div class="col-md-2">
          <img src="{{  page_user.profile_pic.url }}" 
          class="card-img" width="200" height="180" alt="Profile Picture">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">
            {{ page_user.user.first_name }} 
            {{ page_user.user.last_name }}
          </h5>
          <p class="small text-muted">
            {{  page_user.bio }}
          </p>
          <p class="card-text">
            <a href="{{  page_user.fb_url }}"> Facebook |</a>
            <a href="{{  page_user.fb_url }}"> Instagram |</a>
            <a href="{{  page_user.fb_url }}"> Twitter |</a>
          </p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

